@media only screen and (max-width: 1440px) {
    .container{
        max-width: 1200px;
        width: 100%;
    }
    .section-title .subtitle{
        font-size: 42px;
    }
    .banner-left p{
        font-size: 22px;
    }
    .banner-section{
        padding-top: 170px;
    }
}
@media only screen and (max-width: 1360px) {
    .container{
        max-width: 1100px;
        width: 100%;
    }
    .section-title .subtitle{
        font-size: 38px;
    }
    .banner-left p{
        font-size: 20px;
    }
    .banner-section{
        padding-top: 160px;
    }
    .events-right h4{
        font-size: 28px;
    }
    .events-right p{
        font-size: 20px;
    }
}
@media only screen and (max-width: 1200px) {
    .container{
        max-width: 980px;
        width: 100%;
    }
    .header-section{
        padding: 18px 0px;
    }
    .section-title .subtitle{
        font-size: 32px;
    }
    .banner-left p{
        font-weight: 18px;
    }
    .events-right h4{
        font-size: 24px;
    }
    .events-right p{
        font-size: 18px;
    }
    
}
@media only screen and (max-width: 1024px) {
    .container{
        max-width: 788px;
        width: 100%;
    }
    .banner-section{
        padding-top: 149px;
    }
    .section-title .title{
        font-size: 12px;
    }
    .section-title .subtitle{
        font-size: 28px;
    }
    .banner-left p{
        font-size: 16px;
        margin-bottom: 14px;
        margin-top: 0px;
    }
    .events-right h4{
        font-size: 20px;
    }
    .events-right p{
        font-size: 16px;
    }
    .events-right h4{
        margin-top: 40px;
    }
    .feature-content{
        margin-top: 35px;
    }
    .feature-text h4{
        font-size: 20px;
    }
    .feature-text p{
        font-size: 12px;
        text-align: center;
        margin: 10px 0px;
    }
    .feature-img{
        min-height: 140px;
        min-width: 140px;
        max-height: 140px;
        max-width: 140px;
    }
}