/*-- whitepaper-style start--*/
.whitepaper-section{
    padding-top: 116px;
    padding-bottom: 49px;
}
.whitepaper-content h2{
    color: #0F1634;
    font-family: "Open Sans";
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 58px;
}
.whitepaper-card{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 12px;
    border: 1px solid #DBDBE0;
    background: linear-gradient(107deg, #FFF 70.76%, #F4F3F5 100.46%);
    overflow: hidden;
    margin-bottom: 98px;
}
.whitepaper-img{
    min-width: 432px;
    min-height: 432px;
    max-width: 432px;
    max-height: 432px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.whitepaper-img .img{
   height: 100%;
   width: 100%;
   position: absolute;
   object-fit: cover;
   z-index: 0;
}
.download-icon{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transform: translateX(10px);
}
.whitepaper-text{
    padding: 54px 34px 48px 68px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    height: 432px;
    width: 100%;
}

.whitepaper-title .title{
    color: #70727C;
    text-align: center;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 7px 34px;
    border-radius: 40px;
    border: 1px solid #DBDBE0;
    background: #F3F4F6;
    margin-bottom: 23px;
    max-width: max-content;
}
.whitepaper-title .subtitle{
    font-size: 36px;
    font-weight: 400;
    max-width: 439px;
    margin-bottom: 0px;
}
.whitepaper-title p{
    margin-top: 11px;
    max-width: 382px;
}
.whitepaper-card-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}
.whitepaper-card-bottom .download-button{
    font-weight: 400;
}
.whitepaper-card-bottom .name-and-avater{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 13px;
}
.whitepaper-card-bottom .name-and-avater h6{
    color: #000;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/*-- whitepaper-end start--*/

/*-- newsletter style start --*/
.newsletter-section{
    padding-top: 140px;
    padding-bottom: 92px;
    background: #F3F4F6;
}
.newsletter-content{
    text-align: center;
}
.newsletter-content h3{
    color: #0F1634;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 0px;
}
.newsletter-content P{
    max-width: 414px;
    margin: 29px auto;
}
.newsletter-form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 19px;
    width: 100%;
    max-width: 600px;
    margin: auto;
}
.newsletter-form .luup-input{
    max-width: 400px;
    width: 100%;
}
.luup-input input{
    color: #0F1634;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    padding: 11px 15px;
    border-radius: 8px;
    border: 1px solid #B9BCC7;
    background: #FFF;
    width: 100%;
}
.luup-input input::placeholder{
    color: #B9BCC7;
}
/*-- newsletter style end --*/

/*-- sponsers-style start --*/
.sponsers-section{
    background: #ECECFC;
    padding: 66px 0px;
}
.sponsers-content ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}   
/*-- sponsers-style end --*/












/* footer-style-start */
.footer-section{
    padding: 88px 0px;
}
.footer-left p{
    color: #B9BCC7;
    margin-bottom: 12px;
    margin-top: 33px;
}
.footer-left a{
    color: #B9BCC7;
}
.footer-social-list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    flex-wrap: wrap;
}
.footer-social-list li a{
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    border-radius: 7px;
    border: 1px solid #DBDBE0;
}
.footer-menu{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0px -15px;
    max-width: 460px;
    margin-left: auto;
}
.footer-menu-list{
    padding: 0px 15px;
    margin-bottom: 15px;
}
.footer-menu-list h5{
    font-weight: 700;
}
.footer-menu-list ul li {
    padding: 10px 0px;
}
.footer-menu-list ul li a{
    color: #0F1634;
}
/* footer-style-end */


@media only screen and (max-width: 1024px) {
    .container{
        max-width: 788px;
        width: 100%;
    }
}