@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*-- reset style start --*/
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #FFF
}

.body-container {
    overflow-x: hidden;
}

.container {
    max-width: 1376px;
    width: 100%;
    padding: 0px 15px;
    margin: auto;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.section-title .title {
    color: #70727C;
    text-align: center;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 11px 21px;
    border-radius: 40px;
    border: 1px solid #DBDBE0;
    background: #F3F4F6;
    margin-bottom: 23px;
    max-width: max-content;
}

.section-title .subtitle {
    font-size: 48px;
    font-weight: 700;
}

.section-title.text-left,
.section-title.text-left .title,
.section-title.text-left .subtitle {
    margin-right: auto;
}

.section-title.text-center,
.section-title.text-center .title,
.section-title.text-center .subtitle {
    margin: auto;
}

.section-title.text-right,
.section-title.text-right .title,
.section-title.text-right .subtitle {
    margin-left: auto;
}

.luup-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 23px;
    color: #FFF;
    text-align: center;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
    background: #0F1634;
    max-width: max-content;
    transition: 0.4s;
    border: 2px solid #0F1634;
}

.luup-btn:hover {
    color: #0F1634;
    background: #FFFFFF;
}

/*-- reset style end --*/

/* header-style-start */
.header-section {
    padding: 29px 0px;
    background-image: url(../image/bg/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 99999;

}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/*-- header section end--*/

/*-- banner section start --*/
.banner-section {
    background-image: url(../image/bg/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding: 195px 0px;
}

.banner-left p {
    max-width: 417px;
    width: 100%;
    color: #000;
    font-size: 24px;
    font-weight: 400;
    margin: 25px 0px;
}

.banner-img {
    width: 100%;
}

/*-- banner section end --*/

/*-- events section start --*/
.events-section {
    padding-bottom: 122px;
}

.events-right h4 {
    color: #000;
    text-align: right;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 68px;
    margin-bottom: 16px;
}

.events-right p {
    color: #000;
    text-align: right;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.event-btn {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 16px;
}

/*-- events section end --*/

/*-- feacture section start --*/
.feactures-section {
    padding-bottom: 55px;
}

.feactures-card1 .overlay {
    background: url(../image/bg/card-bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
    border: 1px solid #B9BCC7;

}

.feacuter-text h4 {
    display: flex;
    width: 491px;
    height: 33px;
    flex-direction: column;
    justify-content: center;
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding: 35px;
    text-align: center;
}

.feacuter-text p {
    display: flex;
    width: 546px;
    height: 150px;
    flex-direction: column;
    justify-content: center;
    color: #000;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 52px;
    margin-top: 24px;
    margin-bottom: 24px;

}

.feacture-img {
    text-align: center;
}

.feactures-card2 .overlay {
    background: url(../image/bg/card-bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
    border: 1px solid #B9BCC7;

}

.feacture-card3 .overlay {
    background: url(../image/bg/Entscheide-card-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    border: 1px solid var(--G2, #DBDBE0);

}

.feacture-card3 h6 {
    display: flex;
    width: 359px;
    height: 33px;
    flex-direction: column;
    justify-content: center;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 58px;
    margin-top: 168px;
    margin-bottom: 30px;
}

.feacture-card3 p {
    display: flex;
    width: 382px;
    height: 149px;
    flex-direction: column;
    justify-content: center;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 58px;
}

.Entscheide-img {
    padding: 39px 0px;
}

/*-- feacture section end --*/

/*-- gemeinsamer section start --*/
.gemeinsamer-section {
    background: #ECECFC;
    width: 100%;
    height: 434px;

}

.gemeinsamer-text h4 {
    width: 1102.667px;
    height: 61px;
    color: var(--Dark-Blue, #0F1634);
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 89px;

}

.gemeinsamer-card {
    display: flex;
    width: 261px;
    padding: 21px 25px 52px 25px;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    border-radius: 8px;
    border: 1px solid #CCC2F4;
    background: linear-gradient(123deg, #DCD9F3 0%, #ECECFC 69.27%);
    margin-top: 128px;
    
}

.gemeinsamer-card h6 {
    display: flex;
    width: 211px;
    height: 25px;
    flex-direction: column;
    justify-content: center;
    color: #000;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

/*-- gemeinsamer section end --*/